.app {
  text-align: center;
  padding: 0 24px;
}

.logo {
  animation: logo-spin infinite 20s linear;
  height: 240px;
  width: 240px;
  pointer-events: none;
}

.text {
  margin-top: 64px;
}

.user {
  display: flex;
  flex-shrink: 0;
  padding: 30px;
  color: #FFF;
  flex-direction: column;
  align-items: center;
}

.login-tip {
  display: inline-block;
  font-size: 20rpx;
  color: #999;
}

.avatar {
  width: 130rpx;
  height: 130rpx;
  border-radius: 50%;
  background-color: #FFF;
  align-self: center;
}

.nickname {
  padding-top: 40rpx;
  text-align: center;
  font-size: 40rpx;
  font-weight: 100;
}

.header {
  padding-top: 30%;
  background-color: #282c34;
  font-size: 40px;
  color: white;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
